POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=autotfl
POSTGRES_USER=autotfl_user
POSTGRES_PASSWORD=ChangeMe123!
APP_ADMIN_USERNAME=admin
APP_ADMIN_EMAIL=admin@example.com
APP_ADMIN_PASSWORD=admin123
